---
import Deck from '@components/deck.astro'
import Hero from '@components/hero.astro'
import Intro from '@components/intro.astro'
import MyProfile from '@components/my-profile.astro'
import Layout from '@layouts/layout.astro'
---

<Layout
	description='鴨川デジタル相談所は、京都・亀岡を中心に活動するIT全般のお仕事をうけたまわります。サイト作成、Webアプリ作成、ストレスなく業務を進めるためのツールの導入など。'
>
	<main>
		<article class='container' role='article'>
			<Intro />
			<Hero />
			<Deck />
			<MyProfile />
		</article>
	</main>
</Layout>
