$breakpoints: (
	'sm': 'screen and (min-width:480px)',
	'md': 'screen and (min-width:768px)',
	'lg': 'screen and (min-width:1024px)',
);

@mixin mq($breakpoint: sm) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

.vstack {
	display: flex;
	flex-direction: column;
}

.vstack > *:not(style) ~ *:not(style) {
	padding-top: 1rem;
}

.container {
	background: transparent;
	cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png')
			39 39,
		auto;
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	max-width: 100vw;
	overflow-x: hidden;
	justify-content: center;
	grid-column: full;
	position: relative;
}

.houdoujiThumb {
	width: 100%;
	height: 250px;
	margin: 0;
	background-image: url(/houdouji.jpg);
	// border-radius: 10% 10% 0 0;
	background-position: center;
	background-size: cover;
	position: relative;
}

.cardList {
	list-style-type: none;
	color: #4a5568;

	> *:not(style) ~ *:not(style) {
		padding-top: 0.8em;
	}
}

.li {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.6rem;
	line-height: 1.4em;
}

.icon {
	flex-shrink: 0;
}

.cardBody {
	width: 100%;
	height: 100%;
	padding: 1.25rem 0.75rem;
	box-sizing: border-box;
	border-width: 0;
	padding-left: 1rem;
	padding-right: 1rem;

	> *:not(style) ~ *:not(style) {
		padding-top: 1.5rem;
	}
}

.card {
	position: absolute;
	width: 300px;
	height: 200px;
	will-change: transform;
	display: flex;
	align-items: center;
	justify-content: center;
	touch-action: none;

	> div {
		background-color: white;
		border-width: 1px;
		border-style: solid;
		border-color: #c4c9d0;
		border-radius: 10px;
		overflow: hidden;
		will-change: transform;
		user-select: none;
		touch-action: none;
		box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
			0 10px 10px -10px rgba(50, 50, 73, 0.3);

		width: 280px;
		height: 480px;

		@include mq(md) {
			width: 400px;
			height: 520px;

			@include mq(lg) {
				height: 570px;
			}
		}
	}
}
