---
import Button from './button.svelte'
---

<header class='header'>
	<div class='header-container'>
		<a href='/'>
			<h2 class='logo-text'>鴨川デジタル相談所</h2>
		</a>
		<Button client:load />
	</div>
</header>

<style lang='scss'>
	.header {
		@apply sticky bottom-0 z-40 w-full justify-self-end bg-transparent;
		@apply bottom-2 top-0;

		padding-right: var(--gap);
		padding-left: var(--gap);

		@apply md:bottom-[none] md:top-4;
	}

	.header-container {
		@apply box-border flex items-center justify-between rounded-md bg-neutral-50 px-2 py-2 outline outline-1 outline-neutral-100;
		@apply md:bg-transparent md:px-0 md:outline-none;
	}

	.logo-text {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.75rem;
		color: #4a5568;
		letter-spacing: 0.05em;
	}
</style>
