---
import DeckComponent from '@components/deck'
---

<section class='full deck-section'>
	<p class='small'>カードを左右にスワイプ</p>
	<!-- An React component <Deck> -->
	<DeckComponent client:visible />
</section>

<style lang='scss'>
	.deck-section {
		width: 100%;
		height: auto;
		overflow: scroll;
	}

	.small {
		font-size: 1.25rem;
		color: #4a5568;
		text-align: center;
	}
</style>
