---
---

<header>
	<h2>鴨川デジタル相談所</h2>
</header>

<style lang='scss'>
	header {
		width: 100%;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		background: white;

		h2 {
			font-size: 1.1rem;
			font-weight: 500;
			color: #4a5568;
			letter-spacing: 0.05em;
		}
	}
</style>
