---
import { Image } from 'astro:assets'
import Kamogawa from '../assets/kamogawa.jpg'
---

<section id='hero-top' class='feature'>
	<Image class='pic' src={Kamogawa} alt='夕暮れの鴨川' height={400} />
</section>

<script>
	if (window.matchMedia('(max-width: 480px)').matches) {
		let hero = document.getElementById('hero-top')
		hero?.classList.add('full')
		hero?.classList.remove('feature')
	}
</script>

<style lang='scss'>
	.pic {
		width: 100%;
		border-radius: 0;
		object-fit: cover;
	}

	@media screen and (min-width: 480px) {
		.pic {
			border-radius: 24px;
		}
	}
</style>
