---
---

<section>
	<h1>
		仲間と生きるための<wbr /><span class='orange'>テック</span>
	</h1>
	<p>
		もう一度社会を作りなおすためには、
		まず身近な友だちや仲間とともに生きる意識をもつことが重要です。
	</p>
	<p>
		グローバルに広がるマーケットから
		分離されたローカルな輪を重層的に作っていく。
		鴨川デジタル相談所はそのためのテックを提案します。
	</p>
	<p>
		そんなことを思いつつ、ITやWebの何でも屋をやっています。
		なにか困ったら、アイデアがあれば、ぜひご相談ください。
	</p>
</section>

<style lang='scss'>
	h1 {
		grid-column: feature;
		font-size: 2rem;
		font-weight: 400;
		text-align: center;
		letter-spacing: 0.025em;
	}

	p {
		grid-column: content;
		line-height: 2;
		color: #4a5568;
	}

	.orange {
		color: #ed8936;
	}
</style>
